---
title: object
subject: Programming Language Syntax
---

{% extends "layout_subject.njk" %}

{% block navigation_links %}
{% include "programming-language/syntax/navigation-links.njk" %}
{% endblock %}

{% block main_content %}
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Java</th>
            <th>C#</th>
            <th>Python</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Full Name</td>
            <td>java.lang.Object</td>
            <td>System.Object</td>
            <td>object</td>
        </tr>
        <tr>
            <td>Methods</td>
            <td>
                <ul>
                    <li>clone()</li>
                    <li>equals()</li>
                    <li>finalize()</li>
                    <li>getClass()</li>
                    <li>hashCode()</li>
                    <li>notify()</li>
                    <li>notifyAll()</li>
                    <li>toString()</li>
                    <li>wait()</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>public static bool Equals(Object? objA, Object? objB)</li>
                    <li>public static bool ReferenceEquals(Object? objA, Object? objB);</li>
                    <li>public virtual bool Equals(Object? obj);</li>
                    <li>public virtual int GetHashCode();</li>
                    <li>public Type GetType();</li>
                    <li>public virtual string? ToString();</li>
                    <li>protected Object MemberwiseClone();</li>
                </ul>
            </td>
            <td>
                dir(object)
                <ul>
                    <li>__class__</li>
                    <li>__delattr__</li>
                    <li>__doc__</li>
                    <li>__format__</li>
                    <li>__getattribute__</li>
                    <li>__hash__</li>
                    <li>__init__</li>
                    <li>__new__</li>
                    <li>__reduce__</li>
                    <li>__reduce_ex__</li>
                    <li>__repr__</li>
                    <li>__setattr__</li>
                    <li>__sizeof__</li>
                    <li>__str__</li>
                    <li>__subclasshook__</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}