---
title: implicit Invocation
subject: Programming Language Syntax
---
{% extends "layout_subject.njk" %}
{% block navigation_links %}
{% include "programming-language/syntax/navigation-links.njk" %}
{% endblock %}
{% block main_content %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Java</th>
            <th>C#</th>
            <th>Python</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>print</td>
            <td>toString()</td>
            <td>ToString()</td>
            <td>__str__(), __repr__()</td>
        </tr>
        <tr>
            <td>loop></td>
            <td>iterable</td>
            <td>enumerable</td>
            <td>__iter__(), __next__(), __getitem__()</td>
        </tr>
        <tr>
            <td>length</td>
            <td></td>
            <td></td>
            <td>len() call __len__()</td>
        </tr>
        <tr>
            <td>absolute value</td>
            <td>Math.abs()</td>
            <td>Math.Abs()</td>
            <td>abs() call __abs__()</td>
        </tr>
        <tr>
            <td>operator</td>
            <td></td>
            <td></td>
            <td>__add__(), __sub__(), __mul__(), __truediv__(), __floordiv__(), __mod__(), __pow__(), __and__(), __or__(), __xor__(), __lshift__(), __rshift__()</td>
        </tr>
    </tbody>
</table>
{% endblock %}