{% extends "layout.njk" %}

{% block content %}

<div class="container-fluid mt-4">
  <div class="row">
    <!-- left side navigation -->
    <aside class="col-12 col-md-3">
      <button class="btn btn-outline-secondary d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#subjectSidebarNav" aria-controls="subjectSidebarNav">{{ subject }}导航 <i class="bi bi-list"></i></button>

      <div id="subjectSidebarNav" class="offcanvas-md offcanvas-start" tabindex="-1" aria-labelledby="subjectSidebarNavLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="subjectSidebarNavLabel">关闭{{ subject }}导航</h5>
          <button class="btn-close" type="button" data-bs-dismiss="offcanvas" data-bs-target="#subjectSidebarNav" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <h5>{{ subject }}</h5>
          <nav class="nav">
            <a class="nav-link" href="#">Home</a>
            <a class="nav-link" href="#">About</a>
          </nav>
        </div>
      </div>
    </aside>

    <!-- right side main content -->
    <main class="col-12 col-md-9">
      <article class="card shadow-sm">
        <div class="card-body">
          {% block main_content %}{% endblock %}
        </div>
      </article>
    </main>
  </div>
</div>
{% endblock %}