---
title: Data Types
subject: Programming Language Syntax
---

{% extends "layout_subject.njk" %}

{% block navigation_links %}
{% include "programming-language/syntax/navigation-links.njk" %}
{% endblock %}

{% block main_content %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Type</th>
            <th>Java</th>
            <th>C#</th>
            <th>Python</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Value type</td>
            <td>
                8 primitive types
                <ul>
                    <li>byte</li>
                    <li>short</li>
                    <li>int</li>
                    <li>long</li>
                    <li>float</li>
                    <li>double</li>
                    <li>char</li>
                    <li>boolean</li>
                </ul>
            </td>
            <td>
                all struct types
                <ul>
                    <li>sbyte</li>
                    <li>byte</li>
                    <li>short</li>
                    <li>ushort</li>
                    <li>int</li>
                    <li>uint</li>
                    <li>long</li>
                    <li>ulong</li>
                    <li>float</li>
                    <li>double</li>
                    <li>decimal</li>
                    <li>char</li>
                    <li>bool</li>
                    <li>enum</li>
                    <li>DateTime</li>
                    <li>Guid</li>
                </ul>
            </td>
            <td>No value types</td>
        </tr>
        <tr>
            <td>Reference type</td>
            <td>
                all other types
                <ul>
                    <li>array</li>
                    <li>class</li>
                    <li>interface</li>
                    <li>annotation</li>
                    <li>enum</li>
                    <li>record</li>
                </ul>
            </td>
            <td>
                all other types
                <ul>
                    <li>array</li>
                    <li>class</li>
                    <li>interface</li>
                    <li>annotation</li>
                    <li>delegate/event</li>
                </ul>
            </td>
            <td>
                all data types
                <ul>
                    <li>numeric: int, float, complex</li>
                    <li>boolean: bool</li>
                    <li>text sequence: str</li>
                    <li>binary sequence: bytes/bytearray/memoryview</li>
                    <li>sequence: list, tuple, range</li>
                    <li>set: set/frozenset</li>
                    <li>mapping: dict</li>
                    <li>iterator</li>
                    <li>context manager</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Null type</td>
            <td>null</td>
            <td>null</td>
            <td>None</td>
        </tr>
        <tr>
            <td>identity</td>
            <td>System.identityHashCode() / ==</td>
            <td>System.Runtime.CompilerServices.RuntimeHelpers.GetHashCode() / object.ReferenceEquals()</td>
            <td>id() / is</td>
        </tr>
        <tr>
            <td>type</td>
            <td>obj.getClass() / ClassName.class / instanceof</td>
            <td>obj.GetType() / typeof(ClassName) / object.ReferenceEquals()</td>
            <td>
                type()<br>
                isinstance()<br>
                is checking the identity (id()), small int and string literals are interned</td>
        </tr>
        <tr>
            <td>metaclass</td>
            <td>Class</td>
            <td>Type</td>
            <td>
                type <br>
                "type" and "object" are hardcoded
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}