<h2>Namespace</h2>

{% highlight csharp %}
namespace NameSpace
{
    // Class
    // Interface
    // Struct
    // Enum
    // Delegate
    // SubNamespace
}

using NameSpace; // Importing a namespace

using static NameSpace.ClassName; // Importing static members of a class

using alias = NameSpace; // Creating an alias for a namespace
{% endhighlight %}