<h2>Declare a Class</h2>

{% highlight csharp %}
class ClassName
{
    // Fields
    // Properties
    // Methods
}

partial class ClassName
{
    // Fields
    // Properties
    // Methods
}

static class ClassName
{
    // Fields
    // Properties
    // Methods
}
{% endhighlight %}