<h2>Declare a Class</h2>

{% highlight "java" %}
class ClassName
{
    // Fields
    // Methods
}
{% endhighlight %}

<p>Java does not support partial class or static class declarations like C# does.</p>