---
title: oop encapsulation
subject: Programming language Syntax
---

{% extends "layout_subject.njk" %}

{% block navigation_links %}
{% include "programming-language/syntax/navigation-links.njk" %}
{% endblock %}

{% block main_content %}
{% include "programming-language/syntax/oop-encapsulation/csharp.njk" %}
{% endblock %}