---
subject: 中医
---

{% extends "layout_subject.njk" %}

{% block navigation_links %}
{% include "chinese-traditional-medicine/中医基础理论/navigation-links.njk" %}
{% endblock %}

{% block main_content %}
{% endblock %}