---
title: anonymous type
subject: Programming Language Syntax
---
{% extends "layout_subject.njk" %}

{% block navigation_links %}
{% include "programming-language/syntax/navigation-links.njk" %}
{% endblock %}

{% block main_content %}
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Java</th>
            <th>C#</th>
            <th>Python</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Anonymous Type</td>
            <td>Not applicable</td>
            <td>
                var obj = new { Property1 = value1, Property2 = value2 };<br>
                var obj = new { Property1 = value1, Property2 = new { SubProperty1 = value3, SubProperty2 = value4 }};<br>
                var obj = new[] {new { Property1 = value1, Property2 = value2 }, new { Property1 = value3, Property2 = value4 }};
            </td>
            <td>Not applicable</td>
        </tr>
    </tbody>
</table>
{% endblock %}