<a class="nav-link" href="/programming-language/syntax/data-type/">Data Types</a>
<ul class="nav flex-column ms-3">
  <li class="nav-item">
    <a class="nav-link" href="/programming-language/syntax/data-type/array/">Array</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/programming-language/syntax/data-type/class/">Class</a>
    <ul class="nav flex-column ms-3">
      <li class="nav-item">
        <a class="nav-link" href="/programming-language/syntax/data-type/class/inner-class/">Inner Class</a>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/programming-language/syntax/data-type/enum/">Enum</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/programming-language/syntax/data-type/interface/">Interface</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/programming-language/syntax/data-type/struct/">Struct</a>
  </li>
</ul>
<a class="nav-link" href="/programming-language/syntax/data-type/nullable/">Nullable</a>
<a class="nav-link" href="/programming-language/syntax/data-type/var-implicit-type-variable/">var (Implicit Type Variable)</a>
<a class="nav-link" href="/programming-language/syntax/oop-inheritance/">OOP Inheritance</a>
<a class="nav-link" href="/programming-language/syntax/oop-polymorphism/">OOP Polymorphism</a>
<a class="nav-link" href="/programming-language/syntax/oop-encapsulation/">OOP Encapsulation</a>
<a class="nav-link" href="/programming-language/syntax/generic/">Generic</a>
<a class="nav-link" href="/programming-language/syntax/extension-method/">Extension Method</a>
<a class="nav-link" href="/programming-language/syntax/using-keyword/">using keyword</a>