{% block navigation_links %}
  <a class="nav-link" href="/programming-language-syntax/oop-inheritance/">OOP Inheritance</a>
  <a class="nav-link" href="/programming-language-syntax/oop-polymorphism/">OOP Polymorphism</a>
  <a class="nav-link" href="/programming-language-syntax/oop-encapsulation/">OOP Encapsulation</a>
{% endblock %}