---
title: CSS Bootstrap color theme
subject: CSS
---

{% extends "layout_subject.njk" %}

{% block navigation_links %}
{% include "css/navigation-links.njk" %}
{% endblock %}

{% block main_content %}
# HTML elements and CSS class names

<ul>
    <li>A button including the current theme icon and text, which has dropdown menu to choose theme</li>
    <li>Three dropdown menu: light, dark, auto</li>
</ul>

{% endblock %}