---
title: OOP Inheritance
subject: Programming Language Syntax
---

{% extends "layout_subject.njk" %}

{% include "programming-language/syntax/navigation-links.njk" %}


{% block main_content %}
{% include "programming-language/syntax/oop-inheritance/java.njk" %}
{% endblock %}
