---
title: "Andrew Li's development notes"
---

{% extends "layout.njk" %}

{% block content %}
<h2>Programming Syntax</h2>
<div class="card-group">
    <div class="card">
        <div class="card-body">
            <a href="/programming-language/syntax/data-type/">Data Types</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <a href="/programming-language/syntax/oop-inheritance/">OOP Inheritance</a>
        </div>
    </div>
</div>

<h2>Programming library</h2>
<div class="card-group">
    <div class="card">
        <div class="card-body">
            <a href="/programming-language/library/datetime/">Datetime</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <a href="/programming-language/library/json/">JSON</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <a href="/programming-language/library/logging/">Logging</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <a href="/programming-language/library/inversion-of-control/">Regex</a>
        </div>
    </div>
</div>

<h2>CSS</h2>
<div class="card-group">
    <div class="card">
        <div class="card-body">
            <a href="/css/">CSS Position</a>
        </div>
    </div>
</div>

<h2>ofbiz</h2>
<div class="card-group">
    <div class="card">
        <div class="card-body">
            <a href="/ofbiz/entity-engine/">Ofbiz EntityEngine</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <a href="/ofbiz/startup/">Ofbiz Startup</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <a href="/ofbiz/authentication-authorization/">Ofbiz Authentication & Authorization</a>
        </div>
    </div>
</div>

<h2>中医</h2>
<div class="card-group">
    <div class="card">
        <div class="card-body">
            <a href="/chinese-traditional-medicine/中医基础理论/">中医基础理论</a>
        </div>
    </div>
</div>
{% endblock %}